<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a (click)="accionAgregarCliente()" href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#clienteModal">
          <i class="fas fa-plus"></i> Agregar cliente
        </a>
      </div>
    </div>
  </div>
</section>

<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Listado de clientes</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of clientes; let i=index">
                <td> {{ i+1 }} </td>
                <td> {{ item.nombre }} {{ item.apellidos }} </td>
                <td> {{ item.saldo | currency: 'MNX':'$' }} </td>
                <td>
                  <a (click)="accionEditarCliente( item )" href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#clienteModal">
                    <i class="fas fa-angle-double-right"></i> Editar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h3>Saldo total</h3>
            <h6>
              {{ getSaldoTotal() | currency:'MNX':'$'}}
            </h6>
          </div>
        </div>
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h4 class="display-4">
              <i class="fas fa-users"></i> {{ clientes?.length }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- CLIENTE MODAL -->
<div class="modal fade" id="clienteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title" *ngIf="accion == 1">Agregar cliente</h5>
        <h5 class="modal-title" *ngIf="accion == 2">Editar cliente</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <flash-messages></flash-messages>

      <form #clienteForm="ngForm" (ngSubmit)="onSubmitAgregarCliente( clienteForm )">
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input #nombre="ngModel" [(ngModel)]="cliente.nombre" type="text" name="nombre" class="form-control"
              [ngClass]="{'is-invalid': nombre.errors && nombre.touched}" required minlength="2">
            <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
              Nombre requerido
            </div>
            <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
              El nombre debe contener al menos 2 caracteres
            </div>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input #apellidos="ngModel" [(ngModel)]="cliente.apellidos" type="text" name="apellidos"
              class="form-control" [ngClass]="{'is-invalid': apellidos.errors && apellidos.touched}" required
              minlength="2">
            <div [hidden]="!apellidos.errors?.required" class="invalid-feedback">
              Apellido requerido
            </div>
            <div [hidden]="!apellidos.errors?.minlength" class="invalid-feedback">
              El apellido debe contener al menos 2 caracteres
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input #email="ngModel" [(ngModel)]="cliente.email" type="email" name="email" class="form-control"
              [ngClass]="{'is-invalid': email.errors && email.touched}" required pattern="\w+@hotmail.com">
            <div [hidden]="!email.errors?.required" class="invalid-feedback">
              Email requerido
            </div>
            <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
              Formato de email no válido
            </div>
          </div>
          <div class="form-group">
            <label for="saldo">Saldo:</label>
            <input #saldo="ngModel" [(ngModel)]="cliente.saldo" type="number" name="saldo" class="form-control"
              [ngClass]="{'is-invalid': saldo.errors && saldo.touched}" required>
            <div [hidden]="!saldo.errors?.required" class="invalid-feedback">
              Saldo requerido
            </div>
          </div>
        </div>
        <div class="modal-footer" >
          <a class="btn btn-danger text-white" (click)="eliminarCliente()">
            <i class="fas fa-trash"></i> Eliminar
          </a>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- CLIENTE MODAL -->