<footer id="footer" class="bg-warning text-white mt-5 p-2" >
  <div class="container" >
    <div class="row">
      <div class="col">
        <p class="lead text-center" >
          Copyright &copy; redpoint.com.mx
        </p>
      </div>
    </div>
  </div>
</footer>