<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-user"></i> Registro
          </h1>
        </div>
      </div>
    </div>
  </header>
    
  <flash-messages></flash-messages>
  
  <section id="registro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>Registro</h4>
            </div>
            <div class="card-body">
              <form (submit)="registrar()">  
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
                </div>
                <input type="submit" value="Registrarse" class="btn btn-primary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  