<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a routerLink="/" class="navbar-brand"> Control </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav" *ngIf="isLogged">
        <li class="nav-item px-2">
          <a routerLink="/" class="nav-link"> Inicio  </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3" *ngIf="isLogged">
          <a routerLink="/" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user"></i> Bienvenido {{ userLogged }}
          </a>
          <div class="dropdown-menu">
            <a routerLink="/configuracion" class="dropdown-item">
              <i class="fas fa-cog"></i> Configuracion
            </a>
          </div>
        </li>
        <li class="nav-item" *ngIf="!isLogged && currentUrl !== '/login' && permitirRegistro">
          <a routerLink="/login" class="nav-link" > Login </a>
        </li>
        <li class="nav-item" *ngIf="!isLogged && currentUrl !== '/registro' && permitirRegistro">
          <a routerLink="/registro" class="nav-link" > Regístrate! </a>
        </li>
        <li class="nav-item" *ngIf="isLogged" >
          <a class="nav-link" (click)="logout()" style="cursor: pointer"> Logout </a>
        </li>
      </ul>

    </div>
  </div>
</nav>