<header id="main-header" class="py-2 bg-info text-white" >
  <div class="container" >
    <div class="row" >
      <div class="col-md-10" >
        <h1>
          <i class="fas fa-cog" ></i> Control
        </h1>
      </div>
    </div>
  </div>
</header>

<app-clientes></app-clientes>